  <ion-content [fullscreen]="true">
    <div class="profile">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/images/profile.jpg" alt="">
        </div>
      </div>
    </div>
    
    <div class="profile-body">
      <div class="user-meta ion-text-center">
        <h3 class="name">Cheska Ann Mendoza</h3>
        <h3 class="work" ><b>Student</b></h3>
        <h6 class="message">Message or Follow @</h6>
      </div>
      <ion-button expand="full" color="primary">cheskaannmendoza on Facebook</ion-button>
      <ion-button expand="full" color="secondary">CheskaMendoza on Twitter</ion-button>
      <ion-button expand="full" color="secondary">CheskaMendoza on Instagram</ion-button>
    </div>
  
  </ion-content>
  